.jumbotron {
  background-image: url(img/border.png);
  padding-top: 6rem;
}
.jumbotron h1 {
  font-family: 'Roboto Slab', serif;
  color: #010203;
}
.jumbotron p {
  color: white;
  font-family: 'IBM Plex Serif', serif;
font-family: 'Merriweather', serif;
font-family: 'Roboto Slab', serif;
}
.countainer {
  margin: 5rem 1rem;
}
.countainer h2 {
  text-align: center;
}
.countainer p1 {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto Slab', serif;
  font-size: 1.7rem;
}
.card {
  margin-top: 2rem;
  background-color: #e2edff;
}
.btn {
  margin-left: 50%;
  margin-top: 2rem;
}
.card p {
  font-family: 'Roboto Slab', serif;
}